.e10_61 { 
	overflow:hidden;
}
.e10_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1678px;
	height:3033px;
	position:absolute;
}
.e2_245 { 
	width:931px;
	height:617px;
	position:absolute;
	left:346px;
	top:115px;
}
.i2_245_0_447 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei2_245_0_447 { 
	width:931px;
	height:617px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_165 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:1324px;
	top:1951px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e11_110 { 
	width:316px;
	height:324px;
	position:absolute;
	left:1326px;
	top:1545px;
}
.i11_110_0_447 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei11_110_0_447 { 
	width:316px;
	height:324px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_160 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:54px;
	top:1951px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e11_107 { 
	width:316px;
	height:324px;
	position:absolute;
	left:86px;
	top:1545px;
}
.i11_107_0_447 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei11_107_0_447 { 
	width:316px;
	height:324px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_159 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:496px;
	top:1960px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e11_108 { 
	width:318px;
	height:324px;
	position:absolute;
	left:494px;
	top:1545px;
}
.i11_108_0_447 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei11_108_0_447 { 
	width:318px;
	height:324px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_163 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:910px;
	top:1951px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e11_109 { 
	width:318px;
	height:324px;
	position:absolute;
	left:910px;
	top:1545px;
}
.i11_109_0_447 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei11_109_0_447 { 
	width:318px;
	height:324px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_169 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:126px;
	top:1882px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_170 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:567px;
	top:1882px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_171 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:969px;
	top:1892px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_172 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:1425px;
	top:1891px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_174 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:664px;
	top:779px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_168 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:640px;
	top:1487px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_166 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:681px;
	top:1127px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e2_247 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:1054px;
	height:90px;
	position:absolute;
	left:499px;
	top:925px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_147 { 
	width:1908px;
	height:200.00003051757812px;
	position:absolute;
	left:126px;
	top:1207px;
}
.e12_158 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_158 { 
	width:200px;
	height:200px;
	position:absolute;
	left:469px;
	top:0.000030517578125px;
	background-image:url(images/2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_164 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:1222px;
	top:64px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_155 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_155 { 
	width:200px;
	height:200px;
	position:absolute;
	left:971px;
	top:0px;
	background-image:url(images/3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_150 { 
	transform: rotate(-3.1805546814635168e-15deg);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_150_12_138 { 
	transform: rotate(3.1805546814635168e-15deg);
	width:200px;
	height:200px;
	position:absolute;
	left:0.0000017114271031459793px;
	top:-0.00003119033863185905px;
	background-image:url(images/ellipse.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i12_150_12_138 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_157 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:726px;
	top:25.000030517578125px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e12_156 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:242px;
	top:82px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
