< !DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" /></head><body><div class="v10_61"><div class="name"></div><span class="v12_165">วิทยาลัยเทคโนโลยีโปลิเทคนิคลานนา เชียงใหม่ @ที่อยู่ 2 ถนนสุขเกษม ต.ป่าตัน อ.เมือง จ.เชียงใหม่ 50300 โทร. 0 5321 3061,
0 5321 3144,
0 5321 9175 แฟกซ์ 0 5340 8223 </span><div class="name"></div><span class="v12_160">โรงเรียนบ้านบางปรง ที่อยู่ : หมู่ที่ 3 บ้านบางปรง ตำบลห้วยแร้ง อำเภอเมืองตราด จังหวัดตราด 23000 โทรศัพท์ :039570026 โทรสาร :ระดับที่เปิดสอน: อนุบาล-ประถมศึกษา วัน-เดือน-ปี ก่อตั้ง :17 พ.ค.2517 อีเมล์ :Banbangprong@hotmail.com </span><div class="name"></div><span class="v12_159">โรงเรียนหัวไทร(เรือนประชาบาล) เลขที่115หมู่ที่ 8 ถนนพลเดช บ้านบางไร ่ ตำบลหัวไทร อำเภอหัวไทร จังหวัดนครศรีธรรมราช 80170 เบอร์โทรศัพท์ 075389470 เบอร์โทรสาร 0-7538-470 </span><div class="name"></div><span class="v12_163">โรงเรียนทุ่งสงเป็นโรงเรียนมัธยมศึกษา มีเนื้อที่ 55 ไร่ ตั้งอยู่เลขที่ 45 หมู่ที่ 2 ถนนทุ่งสง – นครศรีธรรมราช ตำบลถ้ำใหญ่ อำเภอทุ่งสง จังหวัดนครศรีธรรมราช รหัสไปรษณีย์ 80110 โทรศัพท์ 075-773152 โทรสาร 075-773001 </span><div class="name"></div><span class="v12_169">ประถมศึกศา 1-4</span><span class="v12_170">ประปมศึกษาปีที่5-6</span><span class="v12_171">มัธยมปี่ที่1-3</span><span class="v12_172">ปวช.1-ปวส.5</span><span class="v12_174">ประวัติส่วนตัว</span><div class="v11_106"><div class="name"></div><div class="name"></div><div class="name"></div><span class="v12_166">ติดต่อได้ที่</span><span class="v12_168">จบการศึกษาจาก</span><span class="v2_247">ชื่อ : นายธีรโชติ นนทอง ชื่อเล่น : ปังปอนด์ อาย : 20ปี กรุ๊ปเลือด : B เกิมเมื่อวันที : 5 พฤศจิกายน พ.ศ.2545 คติประจำใจ : กลางวันนอน กลางคืนลอย </span><div class="v12_147"><div class="v12_158"></div><span class="v12_164">: _pxngpond</span><div class="v12_155"></div><div class="name"></div><span class="v12_157">: nong448711 &: 0615095702</span><span class="v12_156">: Pang Pand</span></div></div></div></body></html><br/><br/><style>* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

.v10_61 {
	width: 100%;
	height: 3033px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.name {
	color: #fff;
}

.v12_165 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1951px;
	left: 1324px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.name {
	color: #fff;
}

.v12_160 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1951px;
	left: 54px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.name {
	color: #fff;
}

.v12_159 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1960px;
	left: 496px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.name {
	color: #fff;
}

.v12_163 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1951px;
	left: 910px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.name {
	color: #fff;
}

.v12_169 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1882px;
	left: 126px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v12_170 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1882px;
	left: 567px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v12_171 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1892px;
	left: 969px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v12_172 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1891px;
	left: 1425px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v12_174 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 779px;
	left: 664px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}

.v11_106 {
	width: 100%;
	height: 738px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 774px;
	left: 26px;
	overflow: hidden;
}

.name {
	color: #fff;
}

.name {
	color: #fff;
}

.name {
	color: #fff;
}

.v12_166 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 233px;
	left: 683px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}

.v12_168 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 593px;
	left: 642px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}

.v2_247 {
	width: 100%;
	color: rgba(0, 0, 0, 0.800000011920929);
	position: absolute;
	top: 31px;
	left: 501px;
	font-family: Montserrat;
	font-weight: Regular;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}

.v12_147 {
	width: 100%;
	height: 200px;
	background: url("../images/v12_147.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 303px;
	left: 176px;
	overflow: hidden;
}

.v12_158 {
	width: 200px;
	height: 200px;
	background: url("../images/v12_158.png");
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 469px;
	border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
}

.v12_164 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 64px;
	left: 1222px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v12_155 {
	width: 200px;
	height: 200px;
	background: url("../images/v12_155.png");
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 971px;
	border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
}

.name {
	color: #fff;
}

.v12_157 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 25px;
	left: 726px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v12_156 {
	width: 686px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 82px;
	left: 242px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

</style>